.footer {
  position: absolute;

  width: 100%;
}
.sign_up {
  color: black;
  background-color: lightgray;
  border-radius: 60px;
  width: 12%;
  padding: 5px;
}
.login {
  border-radius: 60px;
  width: 12%;
  background-color: #0e88ff;
  padding: 5px;
}
